{% extends 'base.html' %}
{% load static %}
{% block title %}Premium Products{% endblock title %}

{% block content %}
<a href="{% url 'authenticated' %}"> Back to Accounts </a>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{%url 'transactions' account_id %}">Transactions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'balance' account_id %}">Balance </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link active" href='#'>Account Details </a>
    </li>
</ul><br>
<div class='tab-content'>
    <div id='account_details'>
        <table id='datatable_account_details' style="width: 100% !important">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Currency</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody> 
                <tr>    
                    <td>{{account.name}}</td>
                    <td>{{account.currency}}</td>
                    <td>{{account.cashAccountType}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
