{% extends 'base.html' %}
{% load static %}
{% block title %}Accounts{% endblock title %}

{% block content %}
    <div id='account_table'>
        <table id='datatable_accounts' style="width: 100% !important">
            <thead>
                <tr>
                    <th>Accounts</th>
                </tr>
            </thead>
            <tbody>
                {%for account_id in results.accounts%}
                    <tr>    
                        <td><a href="{% url 'transactions' account_id requisition_id %}" style="text-decoration: none"> Account - {{forloop.counter}}</a></td>
                    </tr>
                {%endfor%}             
            </tbody>
        </table>
    </div>
{% endblock content %}
