{% extends 'base.html' %}
{%load static %}
{% block title %}Home{% endblock title %}Home
{% block extracss %}
  <link href="https://unpkg.com/nordigen-bank-ui@1.5.0/package/src/selector.min.css" rel="stylesheet"/>
{% endblock extracss %}

{% block content %}
    <div class="institution-content-wrapper" id="institution-content-wrapper"></div>
  {{institutions|json_script:"inst"}}
  <script type="text/javascript" src="{%static 'js/nordigen_selector_1.5.0.js' %}"></script>

  <script>
    const config = {
      redirectUrl: '{% url "random" %}',
      text: "Computers have lots of memory, but no imagination ~Bill Gates",
      logoUrl: 'https://cdn.nordigen.com/ais/Nordigen_Logo_Black.svg',
      countryFilter: true,
      styles: {
          fontFamily: 'https://fonts.googleapis.com/css2?family=Roboto&display=swap',
          fontSize: '15',
          backgroundColor: '#F2F2F2',
          textColor: '#222',
          headingColor: '#222',
          linkColor: '#8d9090',
          modalTextColor: '#1B2021',
          modalBackgroundColor: '#fff',
          buttonColor: '#3A53EE',
          buttonTextColor: '#fff'
      }
  };
    const data = JSON.parse(document.getElementById('inst').textContent);
    document.getElementById('inst').remove()
    new institutionSelector(data , 'institution-modal-content', config);
</script>
{% endblock content %}
