{% extends 'base.html' %}
{%load static %}
{% block title %}Home{% endblock title %}Home
{% block extracss %}
  <link href="https://unpkg.com/nordigen-bank-ui@1.5.0/package/src/selector.min.css" rel="stylesheet"/>
{% endblock extracss %}

{% block content %}
    <div class="institution-content-wrapper" id="institution-content-wrapper"></div>
  {{institutions|json_script:"inst"}}
  <script type="text/javascript" src="{%static 'js/nordigen_selector_1.5.0.js' %}"></script>

  <script>
    const config = {
      // Redirect URL that is being used when modal is being closed.
      redirectUrl: '{% url "random" %}',
      // Text that will be displayed on the left side under the logo. Text is limited to 100 characters, and rest will be truncated.
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mavdvd",
      // Logo URL that will be shown below the modal form.
      logoUrl: 'https://cdn.nordigen.com/ais/Nordigen_Logo_Black.svg',
      // Will display country list with corresponding institutions. When `countryFilter` is set to `false`, only list of institutions will be shown.
      countryFilter: true,
      // style configs
      styles: {
          // Primary
          // Link to google font
          fontFamily: 'https://fonts.googleapis.com/css2?family=Roboto&display=swap',
          fontSize: '15',
          backgroundColor: '#F2F2F2',
          textColor: '#222',
          headingColor: '#222',
          linkColor: '#8d9090',
          // Modal
          modalTextColor: '#1B2021',
          modalBackgroundColor: '#fff',
          // Button
          buttonColor: '#3A53EE',
          buttonTextColor: '#fff'
      }
  };
    const data = JSON.parse(document.getElementById('inst').textContent);
    document.getElementById('inst').remove()
    new institutionSelector(data , 'institution-modal-content', config);
</script>
{% endblock content %}
